@import url('http://fonts.cdnfonts.com/css/cherry-bomb-2');
body {
    font-family: 'Cherry Bomb';font-size: 22px;
    background-color:   rgb(255, 53, 53);
}


h1{
    text-align: center;
}

 h3 {
    text-align: center;
}

href {
    text-align: center;
}