<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Dupes!</title>
</head>
<body>
    <header>
        <h1>New Dupes!</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Back to the Dupes</a>
                </li>
                <li>
                    <a href="/dupes/show">List of Dupes</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/dupes" method="POST">
            <p>name</p><input type="text" name="name" />
            <p>brand</p><input type="text" name="brand" />
            <p>price</p><input type="number" name="price" />
            <p>color</p><input type="text" name="color" />
            <p>dupe</p><input type="text" name="dupe" />
            <input type="submit" value="Add Dupe" />
        </form>
    </main>
</body>
</html>