<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dupe List</title>
</head>
<body>
    <header>
        <h1>Show Page for <%= author.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/products">List of Dupes</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Dupe</h2>
            <ul>
                <li>Name: <%= prodcuts.name %></li>
            </ul>
        </section>
    </main>
</body>
</html>